In [28]:
import pandas as pd
import csv
import numpy as np
import matplotlib as plt
import requests
from census import Census
from pprint import pprint


from config import api_keyjulie

In [15]:
csvpath = "Resources/Public_School_Data.csv"
raw_data = pd.read_csv(csvpath)
raw_data.head()

,Building IRN,Building Name,District IRN,District Name,County,Region,Address,"City, State, Zip Code",Phone #,Principal,...,Percent of Gifted Students Not Tested,Percent of Gifted Students Below,Percent of Gifted Students Basic,Percent of Gifted Students Proficient,Percent of Gifted Students Accelerated,Percent of Gifted Students Advanced,Percent of Gifted Students Advanced Plus,Performance Index Score 2015-16,Performance Index Score 2014-15,Watermark
0,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,435 Grand Ave,"Ada, OH, 45810-1013",(419) 634-2341,Robin E. Vanbuskirk,...,0.0,0.0,0.0,4.0,25.3,70.7,0.0,96.125,96.591,NaN
1,67,Ada High School,45187,Ada Exempted Village,Hardin,Region 6,435 Grand Ave,"Ada, OH, 45810-1013",(419) 634-2746,Robin E. Vanbuskirk,...,0.0,2.0,0.0,3.9,27.5,52.9,13.7,91.667,97.984,NaN
2,83,Sandusky Middle School,44743,Sandusky City,Erie,Region 2,318 Columbus Ave,"Sandusky, OH, 44870-2616",(419) 984-1180,Marie A. Prieto,...,0.0,1.4,3.4,22.1,37.2,33.1,2.8,62.772,64.647,NaN
3,102,Meigs Primary School,48520,Meigs Local,Meigs,Region 16,36871 State Route 124,"Middleport, OH, 45760-9717",(740) 742-3000,Kristin C. Baer,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN
4,105,Meigs Intermediate School,48520,Meigs Local,Meigs,Region 16,36871 State Route 124,"Middleport, OH, 45760-9717",(740) 742-2666,IRENE C. Murphy,...,0.0,1.5,5.9,20.6,42.6,29.4,0.0,70.394,78.166,NaN

In [16]:
public_df = raw_data[["Building Name", "District Name", "County", "City, State, Zip Code", "Performance Index Score 2015-16"

                     ]]
public_df.head()

,Building Name,District Name,County,"City, State, Zip Code",Performance Index Score 2015-16
0,Ada Elementary School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",96.125
1,Ada High School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",91.667
2,Sandusky Middle School,Sandusky City,Erie,"Sandusky, OH, 44870-2616",62.772
3,Meigs Primary School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",NC
4,Meigs Intermediate School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",70.394

In [17]:
public_df.count()

Building Name                      3374
District Name                      3374
County                             3374
City, State, Zip Code              3374
Performance Index Score 2015-16    3374
dtype: int64

In [18]:
public_df[["City","State", "Zip Code"]] = public_df["City, State, Zip Code"].str.split(",",expand=True)
public_df.head()

C:\Users\jnovic\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,Building Name,District Name,County,"City, State, Zip Code",Performance Index Score 2015-16,City,State,Zip Code
0,Ada Elementary School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",96.125,Ada,OH,45810-1013
1,Ada High School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",91.667,Ada,OH,45810-1013
2,Sandusky Middle School,Sandusky City,Erie,"Sandusky, OH, 44870-2616",62.772,Sandusky,OH,44870-2616
3,Meigs Primary School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",NC,Middleport,OH,45760-9717
4,Meigs Intermediate School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",70.394,Middleport,OH,45760-9717

In [19]:
public_df.to_csv("Resources/Public_ZipCode.csv", index=False, header=True)

In [31]:
csvpath2 = "Resources/Ethnicity.csv"
raw_data_race = pd.read_csv(csvpath2)
raw_data_race.head()

C:\Users\jnovic\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Building IRN,Building Name,District IRN,District Name,County,Region,Open/Closed Status as of 9/12/2017,School Type,Student Group,Read 3rd Grade 2016-2017 % Proficient or above,...,Geometry End of Course 2016-2017 % Proficient or Above,Integrated Math I End of Course 2016-2017 % Proficient or Above,Integrated Math II End of Course 2016-2017 % Proficient or Above,Biology End of Course 2016-2017 % Proficient or Above,Attendance rate 2016-2017,4-Year Longitudinal Graduation Rate - Class of 2016,5-Year Longitudinal Graduation Rate - Class of 2015,Enrollment,% of Total Enrollment,Watermark
0,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,Open,Elementary School,American Indian or Alaskan Native,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN
1,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,Open,Elementary School,Asian or Pacific Islander,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN
2,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,Open,Elementary School,Black,NC,...,NC,NC,NC,NC,>95.0,NC,NC,16,3.4,NaN
3,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,Open,Elementary School,Hispanic,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN
4,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,Open,Elementary School,Multiracial,NC,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN

In [76]:
race_df = raw_data_race[["Building Name", "Student Group","% of Total Enrollment"

                     ]]
race_df.head(10)

,Building Name,Student Group,% of Total Enrollment
0,Ada Elementary School,American Indian or Alaskan Native,NC
1,Ada Elementary School,Asian or Pacific Islander,NC
2,Ada Elementary School,Black,3.4
3,Ada Elementary School,Hispanic,NC
4,Ada Elementary School,Multiracial,NC
5,Ada Elementary School,White,92.5
6,Ada High School,American Indian or Alaskan Native,NC
7,Ada High School,Asian or Pacific Islander,NC
8,Ada High School,Black,NC
9,Ada High School,Hispanic,NC

In [77]:
df_white = race_df.loc[race_df["Student Group"] == "White", :]
df_latinx = race_df.loc[race_df["Student Group"] == "Hispanic", :]
df_black = race_df.loc[race_df["Student Group"] == "Black", :]

In [80]:
public_race_white = df_white.merge(public_df, on="Building Name")
public_race_latinx = df_latinx.merge(public_df, on="Building Name")
public_race_black = df_black.merge(public_df, on="Building Name")

In [106]:
public_race_black = public_race_black.replace(to_replace="", value="0")
public_race_white = public_race_white.replace(to_replace="", value="0")
public_race_latinx = public_race_latinx.replace(to_replace="", value="0")

In [110]:
csvpath3 = "Resources/Economic.csv"
raw_data_econ = pd.read_csv(csvpath3)
raw_data_econ.head()

,Building IRN,Building Name,District IRN,District Name,County,Region,Open/Closed Status as of 9/12/2017,School Type,Student Group,Read 3rd Grade 2016-2017 % Proficient or above,...,Geometry End of Course 2016-2017 % Proficient or Above,Integrated Math I End of Course 2016-2017 % Proficient or Above,Integrated Math II End of Course 2016-2017 % Proficient or Above,Biology End of Course 2016-2017 % Proficient or Above,Attendance rate 2016-2017,4-Year Longitudinal Graduation Rate - Class of 2016,5-Year Longitudinal Graduation Rate - Class of 2015,Enrollment,% of Total Enrollment,Watermark
0,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,Open,Elementary School,Disadvantaged,77.4,...,NC,NC,NC,NC,>95.0,NC,NC,201,43.2,NaN
1,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,Open,Elementary School,NonDisadvantaged,92.3,...,NC,NC,NC,NC,>95.0,NC,NC,264,56.8,NaN
2,67,Ada High School,45187,Ada Exempted Village,Hardin,Region 6,Open,High School,Disadvantaged,NC,...,56.0,NC,NC,75.0,92.6,78.9,92.3,155,39.7,NaN
3,67,Ada High School,45187,Ada Exempted Village,Hardin,Region 6,Open,High School,NonDisadvantaged,NC,...,62.9,NC,NC,89.6,94.7,>95.0,94.0,235,60.3,NaN
4,83,Sandusky Middle School,44743,Sandusky City,Erie,Region 2,Open,Middle School,Disadvantaged,NC,...,NC,NC,NC,NC,94.0,NC,NC,443,>95.0,NaN

In [111]:
econ_df = raw_data_econ[["Building Name", "Student Group","% of Total Enrollment"

                     ]]
econ_df.head(10)

               Building Name     Student Group % of Total Enrollment
0      Ada Elementary School     Disadvantaged                  43.2
1      Ada Elementary School  NonDisadvantaged                  56.8
2            Ada High School     Disadvantaged                  39.7
3            Ada High School  NonDisadvantaged                  60.3
4     Sandusky Middle School     Disadvantaged                 >95.0
5     Sandusky Middle School  NonDisadvantaged                    NC
6       Meigs Primary School     Disadvantaged                 >95.0
7       Meigs Primary School  NonDisadvantaged                    NC
8  Meigs Intermediate School     Disadvantaged                 >95.0
9  Meigs Intermediate School  NonDisadvantaged                    NC

In [113]:
df_poor = econ_df.loc[econ_df["Student Group"] == "Disadvantaged", :]
df_notpoor = econ_df.loc[econ_df["Student Group"] == "NonDisadvantaged", :]

In [114]:
public_poor_df = df_poor.merge(public_df, on="Building Name")
public_notpoor_df = df_notpoor.merge(public_df, on="Building Name")

In [116]:
public_poor_df = public_poor_df.replace(to_replace="NC", value="0")
public_notpoor_df= public_notpoor_df.replace(to_replace="NC")

,Building Name,Student Group,% of Total Enrollment,District Name,County,"City, State, Zip Code",Performance Index Score 2015-16,City,State,Zip Code,zipcode,+4
0,Ada Elementary School,Disadvantaged,43.2,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",96.125,Ada,OH,45810-1013,45810,1013
1,Ada High School,Disadvantaged,39.7,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",91.667,Ada,OH,45810-1013,45810,1013
2,Sandusky Middle School,Disadvantaged,>95.0,Sandusky City,Erie,"Sandusky, OH, 44870-2616",62.772,Sandusky,OH,44870-2616,44870,2616
3,Meigs Primary School,Disadvantaged,>95.0,Meigs Local,Meigs,"Middleport, OH, 45760-9717",0,Middleport,OH,45760-9717,45760,9717
4,Meigs Intermediate School,Disadvantaged,>95.0,Meigs Local,Meigs,"Middleport, OH, 45760-9717",70.394,Middleport,OH,45760-9717,45760,9717
5,Hamilton Freshman School,Disadvantaged,67.5,Hamilton City,Butler,"Hamilton, OH, 45013",67.364,Hamilton,OH,45013,45013,None
6,Adamsville Elementary School,Disadvantaged,58.2,Tri-Valley Local,Muskingum,"Adamsville, OH, 43802-9024",88.555,Adamsville,OH,43802-9024,43802,9024
7,Hamilton Intermediate School,Disadvantaged,75.4,Hamilton Local,Franklin,"Columbus, OH, 43207-4737",92.162,Columbus,OH,43207-4737,43207,4737
8,Oak Hill Middle/High School,Disadvantaged,56.3,Oak Hill Union Local,Jackson,"Oak Hill, OH, 45656-9408",79.797,Oak Hill,OH,45656-9408,45656,9408
9,Oak Hill Elementary,Disadvantaged,66.4,Oak Hill Union Local,Jackson,"Oak Hill, OH, 45656-1131",87.310,Oak Hill,OH,45656-1131,45656,1131
10,South Vienna Middle School,Disadvantaged,30.2,Northeastern Local,Clark,"South Vienna, OH, 45369-9753",84.218,South Vienna,OH,45369-9753,45369,9753
11,Northridge Middle School,Disadvantaged,24.2,Northeastern Local,Clark,"Springfield, OH, 45503-5933",85.644,Springfield,OH,45503-5933,45503,5933
12,Northridge Middle School,Disadvantaged,24.2,Northridge Local,Licking,"Johnstown, OH, 43031-9408",84.292,Johnstown,OH,43031-9408,43031,9408
13,Northridge Middle School,Disadvantaged,32.2,Northeastern Local,Clark,"Springfield, OH, 45503-5933",85.644,Springfield,OH,45503-5933,45503,5933
14,Northridge Middle School,Disadvantaged,32.2,Northridge Local,Licking,"Johnstown, OH, 43031-9408",84.292,Johnstown,OH,43031-9408,43031,9408
15,Pathway School of Discovery,Disadvantaged,72.5,Pathway School of Discovery,Montgomery,"Dayton, OH, 45404-2123",74.690,Dayton,OH,45404-2123,45404,2123
16,Alliance Academy of Cincinnati,Disadvantaged,>95.0,Alliance Academy of Cincinnati,Hamilton,"Cincinnati, OH, 45207-1644",56.718,Cincinnati,OH,45207-1644,45207,1644
17,Addaville Elementary School,Disadvantaged,>95.0,Gallia County Local,Gallia,"Gallipolis, OH, 45631-8782",88.448,Gallipolis,OH,45631-8782,45631,8782
18,Fairland West Elementary School,Disadvantaged,56.7,Fairland Local,Lawrence,"Proctorville, OH, 45669-8519",97.398,Proctorville,OH,45669-8519,45669,8519
19,Centerburg Middle School,Disadvantaged,20.2,Centerburg Local,Knox,"Centerburg, OH, 43011",82.500,Centerburg,OH,43011,43011,None