In [1]:
import pandas as pd
import csv
import numpy as np
import matplotlib as plt

In [7]:
csvpath = "Resources/Public_School_Data.csv"
raw_data = pd.read_csv(csvpath)
raw_data.head()

,Building IRN,Building Name,District IRN,District Name,County,Region,Address,"City, State, Zip Code",Phone #,Principal,...,Percent of Gifted Students Not Tested,Percent of Gifted Students Below,Percent of Gifted Students Basic,Percent of Gifted Students Proficient,Percent of Gifted Students Accelerated,Percent of Gifted Students Advanced,Percent of Gifted Students Advanced Plus,Performance Index Score 2015-16,Performance Index Score 2014-15,Watermark
0,59,Ada Elementary School,45187,Ada Exempted Village,Hardin,Region 6,435 Grand Ave,"Ada, OH, 45810-1013",(419) 634-2341,Robin E. Vanbuskirk,...,0.0,0.0,0.0,4.0,25.3,70.7,0.0,96.125,96.591,NaN
1,67,Ada High School,45187,Ada Exempted Village,Hardin,Region 6,435 Grand Ave,"Ada, OH, 45810-1013",(419) 634-2746,Robin E. Vanbuskirk,...,0.0,2.0,0.0,3.9,27.5,52.9,13.7,91.667,97.984,NaN
2,83,Sandusky Middle School,44743,Sandusky City,Erie,Region 2,318 Columbus Ave,"Sandusky, OH, 44870-2616",(419) 984-1180,Marie A. Prieto,...,0.0,1.4,3.4,22.1,37.2,33.1,2.8,62.772,64.647,NaN
3,102,Meigs Primary School,48520,Meigs Local,Meigs,Region 16,36871 State Route 124,"Middleport, OH, 45760-9717",(740) 742-3000,Kristin C. Baer,...,NC,NC,NC,NC,NC,NC,NC,NC,NC,NaN
4,105,Meigs Intermediate School,48520,Meigs Local,Meigs,Region 16,36871 State Route 124,"Middleport, OH, 45760-9717",(740) 742-2666,IRENE C. Murphy,...,0.0,1.5,5.9,20.6,42.6,29.4,0.0,70.394,78.166,NaN

In [12]:
public_df = raw_data[["Building Name", "District Name", "County", "City, State, Zip Code", "Performance Index Score 2015-16"

                     ]]
public_df.head()

,Building Name,District Name,County,"City, State, Zip Code",Performance Index Score 2015-16
0,Ada Elementary School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",96.125
1,Ada High School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",91.667
2,Sandusky Middle School,Sandusky City,Erie,"Sandusky, OH, 44870-2616",62.772
3,Meigs Primary School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",NC
4,Meigs Intermediate School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",70.394

In [13]:
public_df.count()

Building Name                      3374
District Name                      3374
County                             3374
City, State, Zip Code              3374
Performance Index Score 2015-16    3374
dtype: int64

In [28]:
public_df[["City","State", "Zip Code"]] = public_df["City, State, Zip Code"].str.split(",",expand=True)
public_df.head()

C:\Users\jnovic\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

,Building Name,District Name,County,"City, State, Zip Code",Performance Index Score 2015-16,City,State,Zip Code
0,Ada Elementary School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",96.125,Ada,OH,45810-1013
1,Ada High School,Ada Exempted Village,Hardin,"Ada, OH, 45810-1013",91.667,Ada,OH,45810-1013
2,Sandusky Middle School,Sandusky City,Erie,"Sandusky, OH, 44870-2616",62.772,Sandusky,OH,44870-2616
3,Meigs Primary School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",NC,Middleport,OH,45760-9717
4,Meigs Intermediate School,Meigs Local,Meigs,"Middleport, OH, 45760-9717",70.394,Middleport,OH,45760-9717

In [27]:
public_df.to_csv("Resources/Public_ZipCode.csv", index=False, header=True)